html{
 background-color: black;   
}
#container{
   width: 1200px;
   margin: 0 auto;
}
#First-section{
    
    height: 500px;
    background-color:#1F2937;
    color: #F9FAF8;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.nav-right{
    display: flex;
    gap: 20px;
    
}
.Hero-section{
    display: flex;
    justify-content:space-between ;
     width: 800px;
    margin: 0 auto;
}
.hero-left{

}
.hero-right{
    width: 400px;
    height: 200px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-right p{
   
    
}
#Second-section{
    height: 400px;
    background-color:white;
    color: #1F2937;
    padding: 20px;
    
    
}
#Second-section h1{
    text-align: center;
    font-weight: 900;
    
}
.div-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    
    
}
.secondsection-flex{
    display: flex;
    flex-direction: column;
}
.secondsection-div{
    width: 150px;
    height: 150px;
    border: 3px solid blue;
    border-radius: 10px;
    margin-top: 50px;
    

    
}
.text{
    text-align: center;
}
#Third-section{
    height: 400px;
    background-color:#E5E7EB;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#Third-section h3{
    font-size: xx-large;
    font-style: italic;
}
.third-flex{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.quote-container{
    margin: 20px 0;
}
.quote-container blockquote {
    font-style: italic;
    
    padding-left: 15px;
    
    
}
.quote-container figcaption{
    font-weight: bold;
    text-align: right;
    margin-top: 1px;
    

}
#Fourth-section{
    height: 400px;
    background-color:white;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.fourth-div{
    width: 1000px;
    height: 200px;
    background-color: blue;
    border-radius: 10px;

}
.blue-rec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
   

}
.blue-rec button{
    padding: 15px 80px;
    color: white;
    background-color: blue;
    border-radius: 10px ;
    font-size: large;
    border: 2px solid white;

}
.blue-rec h2{
    font-size: xx-large;
    color: white;
    margin-bottom: 0px;
    
}
.blue-rec h3{
    color: white;
    padding-top: 0px;
    margin-top: 0px;

}
.rec-content{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#Footer{
    height: 100px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}